# OS-specific
.DS_Store
Thumbs.db

# Laravel environment files
.env
.env.backup
.env.production

# Composer & PHP tools
/vendor
composer.lock
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node & JS tools
/node_modules
/public/build
/public/hot
package-lock.json

# Laravel storage
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Laravel bootstrap cache
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/routes-v*.php
/bootstrap/cache/ser*.tmp

# IDEs & editors
/.idea
/.vscode
/.nova
/.zed
/.fleet
*.code-workspace

# Logs & temp files
*.log
auth.json
Homestead.json
Homestead.yaml
structure.txt

# Media files (optional, large files for versioning)
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Java & Python (if relevant to your project)
*.class
*.jar
*.py[cod]
target/
dist/

# Unit test reports
TEST*.xml

# Applications (if applicable)
*.app
*.exe
*.war
